<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Facts submission.</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <H1>Submit Facts</H1>
        <div class="callout">
            Submit a new fact here!
        </div>
        <div class="facts-container">
            <form>
                <label for="submitter"><H2>Name</H2></label>
                <input name="submitter" type="text">
                <br/>
                <label for="fact"><H2>Fact</H2></label>
                <textarea name="fact"></textarea>
                <br/>
                <input type="submit" value="Submit the Fact">
            </form>
        </div>
        <a href="/pets">Go back</a>
    </div>
    
</body>
</html>